[submodule "X11Engine/src/Dependencies/PhysX"]
	path = X11Engine/src/Dependencies/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
[submodule "X11Engine/src/Dependencies/assimp"]
	path = X11Engine/src/Dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "X11Engine/src/Dependencies/imgui"]
	path = X11Engine/src/Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "X11Engine/src/Dependencies/sol"]
	path = X11Engine/src/Dependencies/sol
	url = https://github.com/ThePhD/sol2.git
[submodule "X11Engine/src/Dependencies/sdl"]
	path = X11Engine/src/Dependencies/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "X11Engine/src/Dependencies/glm"]
	path = X11Engine/src/Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "X11Engine/src/Dependencies/vk-bootstrap"]
	path = X11Engine/src/Dependencies/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "X11Engine/src/Dependencies/VulkanMemoryAllocator"]
	path = X11Engine/src/Dependencies/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "X11Engine/src/Dependencies/SPIRV-Reflect"]
	path = X11Engine/src/Dependencies/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
