[submodule "X11Engine/src/Dependencies/PhysX"]
	path = X11Engine/src/Dependencies/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
[submodule "X11Engine/src/Dependencies/assimp"]
	path = X11Engine/src/Dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "X11Engine/src/Dependencies/imgui"]
	path = X11Engine/src/Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "X11Engine/src/Dependencies/sol"]
	path = X11Engine/src/Dependencies/sol
	url = https://github.com/ThePhD/sol2.git
[submodule "X11Engine/src/Dependencies/sdl"]
	path = X11Engine/src/Dependencies/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "X11Engine/src/Dependencies/glm"]
	path = X11Engine/src/Dependencies/glm
	url = https://github.com/g-truc/glm.git
